#left-container {
    flex-direction: column;
    height: 100vh;
    background-color: #2F2D35;
    border-style: solid;
    border-color: #6F6B7A;
}

#graph-pulse-header {
    display: flex;
    flex-direction: row;
}

#projectTitle {
    font-size: 50px;
    color: white;
}

#pageLink {
    color: rgb(0, 0, 0);
    text-decoration: none;
    overflow: hidden;
    color: white;

    h1 {
        display:inline-block;
        font-size: 30px;
        margin: 3px;
    }
}