#sign-in-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    
}

#sign-in-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    text-shadow: 0 0 100px  #9666e4;
}

#sign-in-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 80vh;
    width: 80vw;
    margin-top: 90px;
    border-style: solid;
    border-radius: 10px;
    background-color: #28193f;
    box-shadow: 0 0 70px 10px #301c50;
    
    h2 {
        font-size: 25px;
        margin-top: -15px;
        margin-bottom: 10px;
    }
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    
    /* border-style: solid; */
    margin-top: 20px;
    margin-bottom: 20px;

    input:focus{
        outline-style: solid;
        outline-width: 2px;
        outline-color: #c569e3;
        font-size: 17px;
    }
    input::placeholder {
        font-size: 17px;
    }
    
}

.sign-in-input {
    height: 30px;
    width: 200px;
    border: 0;
    border-radius: 6px;
    
}

#sign-in-btn {
    height: 30px;
    width: 200px;
    /* margin-top: 10px; */
    border: 0;
    border-radius: 4px;
    background-color: #A459BC;
    color: #F3F3F3;
    font-size: 17px;
    cursor:pointer;
}

#sign-up-redirect-btn {
    height: 30px;
    width: 200px;
    border: 0;
    border-radius: 4px;
    background-color: rgb(57, 49, 141);
    color: #F3F3F3;
    text-decoration: none;
    font-size: 17px;
    cursor:pointer;
    margin-bottom: 40px;
}

#back-btn {
    background-color: #9666e4;
    color: white;
    border: none;
    margin-top: 50px;
    position: left;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 10vh;
    left: 15vw;
}

#back-btn:hover {
    background-color: #7a4fcf;
    transform: scale(1.2); 
    transition: all 0.3s ease;
    cursor:pointer;
    
}

#topContainer{
    position: relative;
}